/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333;
  background-color: #fcfcfc;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
}

a {
  color: #1b69b6;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #1b4c8c;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.75em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
}

blockquote {
  background-color: #eee;
  padding: 1px 1em;

  font-family: sans-serif;
}

.tagline {
  width: 100%;
  color: #777;
  text-align: center;
  margin-top: 0.5em;
  display: block;

}

.posts {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  padding-top: 0.5em;
  margin-bottom: 2em;
}

#cover-photo-container,
#info-container {
  display: block;
}

#info-container {
  margin-top: 3em;
}

#title {
  color: #494949;
  margin-bottom: 0.35em;
  font-size: 3.5em;
  text-transform: uppercase;
  line-height: 1;
}

.post {
  line-height: 28px;
  max-width: 1200px;
  clear: both;
  font-size: 1.25rem;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
}

.post a:hover {
  text-decoration: underline;
}

/* standard */
.post pre {
  padding: 1px .4em;
}

.post p {
  font-family: 'Source Sans Pro', Arial, sans-serif;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  text-align: justify;
}

code {
  color: #A9B7C6;
  padding: 5px;
  background-color: #2B2B2B;
  font-size: 0.85em;
  border-radius: 5px;

  font-family: 'Roboto Mono', monospace;
}

.post pre code {
  border: none;

  font-family: 'Roboto Mono', monospace;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 14%;
  padding-left: 11em;
  padding-right: 2.125em;
  border-right: 1px solid #e7e7e7;
}

.content {
  padding-left: 2.125em;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 0.75em;
  font-family: 'Raleway', Arial, sans-serif;
}

.post-title {
  font-weight: 600;
  font-size: 1.4em;
  text-transform: uppercase;
}

.post-date {
  color: #8a8a8a;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  text-transform: lowercase;
}

#sidebar-button {
  height: initial;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Text Selection */
code ::-moz-selection { /* Code for Firefox */
  background: #214283;
}

code ::selection {
  background: #214283;
}
