<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="twitter:card" content="post" />
    <meta name="twitter:domain" content="ddavison.io" />
    <meta name="og:type" content="website" />

    {% if page.title %}
    <meta name="og:title" content="{{ page.title }}" />
    {% else %}
    <meta name="og:title" content="{{ site.title }}" />
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    {% endif %}

    {% if page.url == '/index.html' %}
    <meta name="keywords" content="{{ site.keywords | join: ',' }}" />
    {% else %}
    <meta name="keywords" content="{{ page.tags | join: ',' }},{{ site.keywords | join: ',' }}" />
    {% endif %}

    {% if page.date %}
    <meta http-equiv="date" content="{{ page.date |date: '%A, %b %d %Y' }}" />
    {% endif %}

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  </head>
