<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Let's collect some metrics</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>

  <style type="text/css">
    ul#metric-list {
      list-style-type: none;
    }
  </style>
</head>
<body>
<nav class="uk-navbar">
  <ul class="uk-navbar-nav">
    <li class="uk-item uk-logo">
      <a href="#">Poor Metrics UX</a>
    </li>
  </ul>
</nav>
<div class="uk-container" id="app">
  <p id="time">Let's say you are going about your business and interacting with a site...</p>
  <div v-if="show_conclusion === true">
    <em>
      I've still:
      <ul>
        <li>presented you with a modal which is both detracting and demeaning.</li>
        <li>recorded metrics on the actions you had performed.</li>
      </ul>
    </em>

    <p>
      Let's say it was a layer, instead of a modal.  There is still, more often than not, a mechanism that tracks whether you
      interact with that layer.  In protest, say you don't click to dismiss the layer at all.  Is that ever recorded?

      <strong>therein lies the problem.</strong>
    </p>

    <p>
      By no means am I an opponent of collecting metrics.  I do think it is a very important process of the software
      development paradigm, but there is a <em>right</em> way and a <em>wrong</em> way.  Too often are we bombarded with
      the <em>wrong</em> way.
    </p>

    <div>
      <strong>What does the right way look like?</strong>

      Provide your users with a `Would you like to take a survey?` or something along those lines.

      <em>But</em> instead of leaving that message open until the end-user interacts with it - simply store a <a href="https://en.wikipedia.org/wiki/HTTP_cookie">Cookie</a>
      denoting that the message was provided to the user. Then, upon any navigation back to, or through your site - the
      message does not show to your end-user, and you are happy since you can consume said cookie for metrics.
      <p class="uk-position-center">
        <a href="https://ddavison.io/ramblings/2020/04/22/dont-hold-your-users-hostage.html">https://ddavison.io/2020/04/22/dont-hold-your-users-hostage.html</a>
      </p>
    </div>
  </div>

  <div class="uk-position-bottom-center">
    <ul id="metric-list">
      <li v-for="(value, metric) in metrics">
        <span v-if="value > 0">{{ metric }} : {{ value }}</span>
      </li>
    </ul>
  </div>

  <div id="modal" uk-modal esc-close="false" bg-close="false">
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">But wait...</h2>

      <p>
        Please read this useless message!!!
        <br /><br />
        This content may or may not matter, but regardless - I've taken your experience away from the site by
        <strong>forcing</strong> you to consume this content without your consent.
        <br /><br />
        What's more, I will record what you click on this dialog.
      </p>

      <button class="uk-button" @click="incrementMetric($event); showNext();">No</button>
      <button class="uk-button uk-button-primary uk-modal-close" @click="incrementMetric($event); showNext();">OK</button>
    </div>
  </div>

  <div id="conclusion" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Sorry!</h2>

      <p>
        For the sake of making UX better...
        <br /><br />
        Will I take this data and make my site better?
        <br />
        Meh, maybe. Maybe not.  Who are you to me, <em>user</em>?
        <br /><br />
        Either way...  I've sacrificed UX for UX.  It's a paradox and should be avoided.
      </p>

      <button class="uk-button uk-modal-close" @click="incrementMetric($event); show_conclusion = true">Cancel</button>
      <button class="uk-button uk-button-primary uk-modal-close" @click="incrementMetric($event); show_conclusion = true">Got it.</button>
    </div>
  </div>
</div>

</body>
<script type="application/javascript">
  let app = new Vue({
    el: '#app',
    data() {
      return {
        metrics: {
          NO: 0,
          OK: 0
        },
        show_conclusion: false
      }
    },
    methods: {
      incrementMetric(event) {
        if (this.metrics[event.target.innerText] === undefined) this.metrics[event.target.innerText] = 0;
        this.metrics[event.target.innerText] += 1
      },
      showNext() {
        UIkit.modal(document.getElementById("conclusion")).show();
      }
    }
  });

  setTimeout(() => {
    let modal = UIkit.modal(document.getElementById("modal"));
    modal.beforehide =
    modal.show();
    let newMetric = document.createElement("li");
    newMetric.innerText = "Modal Shown: 1";

    document.getElementById("metric-list").appendChild(newMetric);
  }, 1500)
</script>

</html>
